footer.bg-teal-500.text-white.py-4
  hr.border-b-2.border-teal-700
  div.flex.justify-center.items-center
    p Redes Sociales:
      a(href='#', class='mx-2 hover:text-teal-300') Twitter
      |  |
      a(href='#', class='mx-2 hover:text-teal-300') Facebook
      |  |
      a(href='#', class='mx-2 hover:text-teal-300') LinkedIn
  p.text-center API Tec - © #{new Date().getFullYear()}