footer.relative.bottom-0.left-0.z-20.w-full.p-4.border-t.border-gray-200.shadow.md.flex.md.items-center.md.justify-between.md.p-6.dark.bg-teal-500.dark.border-gray-600.mt-8
  span.text-sm.text-gray-500.sm.text-center.dark.text-white
    | © 2023 
    a(href="#" class="hover.underline") API Tec™. All Rights Reserved.