header
  nav.flex.items-center.justify-between.flex-wrap.bg-teal-500.p-6
    div.flex.items-center.flex-shrink-0.text-white.mr-6
      span.font-semibold.text-xl.tracking-tight API Tec
    div.w-full.block.flex-grow.lg.flex.lg.items-center.lg.w-auto
      div.text-sm.lg.flex-grow
        a(href="http://localhost:3000" class="block mt-4 lg:inline-block text-teal-200 hover:text-white mr-4")
          | Home
      div.text-sm.lg.flex-grow.lg.text-right
        a(href="http://localhost:3000/auth/register" class="block mt-4 lg:inline-block text-teal-200 hover:text-white mr-4")
          | Register
        a(href="http://localhost:3000/auth/login" class="block mt-4 lg:inline-block text-teal-200 hover:text-white")
          | Login