extends layout

block content
  div.flex.items-center.justify-center.min-h-screen.mt-8
    section.relative.overflow-auto.shadow-md.sm.rounded-lg.max-w-screen-md.w-full.mb-16.p-6.bg-teal-500.dark.bg-teal-700.text-white.mt-8
      h1.text-xl.font-extrabold.text-teal-700.mb-8 ¡Bienvenidos usuarios, os presentamos la API Tec!
      p.text-lg.text-gray-700.mb-4 Descubre el potencial ilimitado de nuestra plataforma de servicios tecnológicos. API Tec ofrece soluciones avanzadas de desarrollo, gestión de usuarios y componentes personalizables para impulsar tus proyectos. Con una seguridad robusta y una integración sin problemas, llevamos tus aplicaciones al siguiente nivel.