extends layout

block content
    div.flex.items-center.justify-center.min-h-screen.mt-4.mb-4
        div.relative.overflow-auto.shadow-md.sm.rounded-lg.max-w-screen-md.w-full.mb-16
            table.w-full.text-sm.text-left.rtl.text-right.bg-white.dark.bg-gray-800.min-w-full.w-full
                thead.text-xs.text-black.uppercase.bg-teal-500.bg-white
                    tr
                        th(scope='col' class='px-6 py-3 text-left min-w-max cursor-pointer hover:bg-gray-50') ID
                        th(scope='col' class='px-6 py-3 text-left min-w-max cursor-pointer hover:bg-gray-50') Username
                        th(scope='col' class='px-6 py-3 text-left min-w-max cursor-pointer hover:bg-gray-50') Address
                        th(scope='col' class='px-6 py-3 text-left min-w-max cursor-pointer hover:bg-gray-50') Number Phone
                        th(scope='col' class='px-6 py-3 text-left min-w-max cursor-pointer hover:bg-gray-50') Email
                        th(scope='col' class='px-6 py-3 text-left min-w-max cursor-pointer hover:bg-gray-50')
                            span.sr-only Actions
                            tbody

                            script(src='/js/users.js')