extends layout

block content
  h1.flex.items-center.text-5xl.font-extrabold.dark.text-white Personal Info
  dl.max-w-md.text-gray-900.divide-y.divide-gray-200.dark.text-white.dark.divide-gray-700
    div.flex.flex-col.pb-3
      div
        dt.mb-1.text-gray-500.md.text-lg.dark.text-gray-400 Username
        dd#inputUsername.text-lg.font-semibold
    div.flex.flex-col.py-3
      div
        dt.mb-1.text-gray-500.md.text-lg.dark.text-gray-400 Home address
        dd#inputAddress.text-lg.font-semibold
    div.flex.flex-col.pt-3
      div
        dt.mb-1.text-gray-500.md.text-lg.dark.text-gray-400 Phone number
        dd#inputTel.text-lg.font-semibold
    div.flex.flex-col.pt-3
      div
        dt.mb-1.text-gray-500.md.text-lg.dark.text-gray-400 Email
        dd#inputEmail.text-lg.font-semibold
